body {
  font-family: 'SF Pro Display', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #232323;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1D1D1D;
}

.search-container {
  position: relative;
  width: 500px;
  height: 40px;
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 184px;
  padding: 0 55px 0 15px;
  color: white;
  background-color: #1D1D1D;
  font-size: 14px;
}

.search-input::placeholder {
  color: #BABABA;
}

.search-icon {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 15px;
  top: 14px;
  background-color: white;
  border-radius: 50%;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
}

.menu-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.menu-item:hover::before {
  transform: scaleX(1);
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 9999px;
}

.arrow {
  width: 14px;
  height: 9px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background-color: white;
  border-radius: 0.30px;
}

.drops {
  /* Adjust the color to ensure visibility */
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.wallet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 108px;
  height: 38px;
  border-radius: 5px;
  border: 0.50px white solid;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
