body{
  margin: 0;
  background: linear-gradient(123deg, #4682B4 0%, #40435C 63%);
}

.google-btn {
  width:100%;
  height: 42px;
  background-color: #1976d2;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 13px;
     font-family: "Roboto","Helvetica","Arial",sans-serif;
     letter-spacing: 1px;
    
  }
  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: hsl(217, 89%, 52%);
  }
}
.or{
  color:rgb(41, 77, 235);
 
padding: 0;
  text-align: center;
}
.btnGoogle{
  padding-bottom: 20px; 
  width: 100%;
}

