/* NavBar.css */

.categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .categories-list li {
    margin-bottom: 8px; /* Adjust the spacing between categories */
    color: white;
    font-size: 17px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    padding: 10px;
  }
  